<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1RpONuFRBeRtI2FNHdbWiQdzS3mNw8UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>939117825264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatx.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatx-3d9fd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatx-3d9fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939117825264:ios:d4a0fccc126240f6418635</string>
</dict>
</plist>